---
title: Shader Lab
---

<div class="tile">
  <div class="tile-header"><h1>Vertex Shader</h1></div>
  <div id="editor-vertex" class="tile-inner-content"></div>
</div>

<div id="threejs-tile" class="tile">
  <div class="tile-header"><h1>Output</h1></div>
  <div id="view-threejs" class="tile-inner-content"></div>
  <div id="models-selector">
    <div id="models-grid">
      <% data.models.each do |model| %>
        <input type="radio" id="model-<%= model.id %>"
               <% if model == data.models.first %><%= 'checked="true"' %><% end %>
               name="model-group"
               data-model-id="<%= model.id %>"/>
        <label for="model-<%= model.id %>"
               style="background:url('images/models-thumb/<%= model.id %>.png');"></label>
      <% end %>
    </div>
  </div>
  <div class="output-toggles">
    <% data.threejs_config.exposed_toggles.each do |attribute| %>
      <label><input
        id="<%= attribute.id %>"
        <% if attribute.checked %><%= 'checked="true"' %><% end %>
        type="checkbox"/><%= attribute.name %></label>
    <% end %>
  </div>
</div>

<div class="tile">
  <div class="tile-header"><h1>Fragment Shader</h1></div>
  <div id="editor-fragment" class="tile-inner-content"></div>
</div>

<div class="tile">
  <div class="tile-header"><h1>Uniforms and Attributes</h1></div>
  <div id="view-variables" class="tile-inner-content">
  </div>
</div>

<script type="text/javascript">
  window.app_config = <%= data.app_config.to_json %>;
  window.threejs_config = <%= data.threejs_config.to_json %>;
</script>
